<div class="modal-header">
  <h4 class="modal-title pull-left">
    {{ title }}
  </h4>
  <!-- <button
        class="btn-close close pull-right"
        type="button"
        (click)="bsModalRef.hide()"
    >
        <span class="visually-hidden">&times;</span>
    </button> -->
</div>

<div class="modal-body">
  <p>{{ message }}</p>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="confirm()">
    {{ okText }}
  </button>

  <button type="button" class="btn btn-danger" (click)="decline()">
    {{ cancelText }}
  </button>
</div>
